<link rel="stylesheet" href="/assets/css/index.css">
<div class="index-page">
    <!-- <div class="index-page-title">
        <h1>Welcome to <%= theme.theme_name %></h1>
        
    </div> -->
    <div id="canvas"></div>
</div>

<!-- <script type="importmap">
    {
        "imports": {
            "three": "/assets/threejs/three.webgpu.min.js",
            "three/webgpu": "/assets/threejs/three.webgpu.min.js",
            "three/tsl": "/assets/threejs/three.tsl.min.js",
            "three/addons/": "/assets/threejs/jsm/"
        }
    }
</script> -->
<!-- <script type="module" src="/assets/js/index.js"></script> -->
