<link rel="stylesheet" href="/assets/css/index.css">
<div class="index-page">
    <!-- <div class="index-page-title">
        <h1>Welcome to <%= theme.theme_name %></h1>
        
    </div> -->
    <div id="canvas"></div>
</div>

<!-- 引用threejs -->
<!-- <script src="https://cdn.jsdelivr.net/npm/three@0.128/build/three.min.js"></script> -->
<script type="importmap">
    {
        "imports": {
            "three": "/assets/threejs/three.webgpu.min.js",
            "three/webgpu": "/assets/threejs/three.webgpu.min.js",
            "three/tsl": "/assets/threejs/three.tsl.min.js",
            "three/addons/": "/assets/threejs/jsm/"
        }
    }
</script>
<script type="module" src="/assets/js/index.js"></script>
<script>

    // var color = [
    //     '#d0036c',
    //     '#cd423b',
    //     '#dc5566',
    //     '#06c901',
    //     '#5f75af',
    //     '#f3c7c8',
    //     '#f87676',
    //     '#f7d470',
    //     '#a2d15f',
    //     '#1a7e5a',
    //     '#0b8bca',
    //     '#f76069',
    //     '#cf0400',
    //     '#368ff5',
    //     '#f46899',
    //     // '#265358',
    //     // '#58525c',
    //     ];
    // document.querySelectorAll('body')[0].addEventListener('click',function(e){
    //     var _self   = this;
    //     var ul      = document.createElement('ul');
    //     var li_arr  = [],
    //         css_arr = [];
    //     var geshu   = 15,
    //         bianjie = 80;
    //     for(var i = 0;i < geshu;i++){
    //         var w = randomColor(8,18);
    //         css_arr[i] = `
    //             background      : ${color[i]};
    //             width           : ${w}px;
    //             height          : ${w}px;
    //             border-radius   : 100px;
    //             position	    : fixed;
    //             left		    : ${e.clientX - w/2}px;
    //             top			    : ${e.clientY - w/2}px;
    //             z-index			: 999999;
    //             list-style-type : none;
    //             list-style	    : none;
    //             transition		: all ease .5s;
    //         `;
    //         li_arr[i] = document.createElement('li')
    //         li_arr[i].setAttribute('style',css_arr[i])
    //         ul.appendChild(li_arr[i])
    //     }
    //     _self.appendChild(ul)
    //     setTimeout(function(){
    //         for(var i = 0;i < geshu;i++){
    //             var x = randomColor(-bianjie,bianjie);
    //             var y = randomColor(-bianjie,bianjie);
    //             css_arr[i] += `
    //                 transform : translate(${x}px,${y}px);
    //             `;
    //             li_arr[i].setAttribute('style',css_arr[i])
    //         }
    //     },1)
    //     setTimeout(function(){
    //         _self.removeChild(ul)
    //     },510)
    // },false)
    // function randomColor(min,max){
    //     return Math.floor(Math.random() * (max - min)) + min
    // }
</script>
