---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="flex">
			<div class="internal-links">
				<HeaderLink href="/">首页</HeaderLink>
				<HeaderLink href="/blog">列表</HeaderLink>
				<HeaderLink href="/blog2">时间线</HeaderLink>
				<HeaderLink href="/about">关于</HeaderLink>
			</div>
			<hr class="hr-column">
			<div class="social-links flex">
				<a href="javascript:void(0)" >
					<svg viewBox="0 0 1024 1024" width="20" height="20" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1642" width="200" height="200"><path d="M1011.240772 951.281994l-284.476422-284.156642c-16.564612-16.628568-43.554057-16.628568-60.24658 0-0.447692 0.383736-0.63956 1.023296-1.087253 1.470989-61.525701 60.566361-145.883705 98.172506-239.131597 98.172506-188.158641 0-340.629817-152.40722-340.629817-340.437949 0-188.030729 152.471176-340.437949 340.629817-340.437949s340.693773 152.40722 340.693773 340.437949c0 26.221972-3.645494 51.484604-9.273624 75.979764-0.447692 1.598901-1.343077 2.878021-1.598901 4.540878-0.191868 1.023296 0.191868 1.918681 0.063956 2.878021-0.575604 2.302417-0.831428 4.732746-1.407033 6.971207l1.598901 1.598901c1.279121 21.936918 14.965711 40.612079 35.303729 43.937793 23.919555 3.837362 46.751858-14.709887 51.100868-41.379552l0.191868 0c6.843295-30.187246 10.872525-61.461745 10.872525-93.75954C853.781026 191.612267 662.680407 0.703516 427.066392 0.703516 191.452376 0.703516 0.351758 191.612267 0.351758 427.09837c0 235.486103 191.036662 426.394854 426.650678 426.394854 102.265692 0 195.897321-36.071201 269.446755-96.061957l254.22522 254.097308c16.884392 16.628568 43.873837 16.628568 60.502405 0C1027.805384 994.900006 1027.805384 968.038474 1011.240772 951.281994z" p-id="1643"></path></svg>
				</a>
			</div>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1.2em;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin:0 auto;
		max-width: 1200px;
		padding:0.5em 0;
	}
	nav a {
		color: var(--black);
		border:3px solid transparent;
		border-radius: .5em;
		text-decoration: none;
		padding:.3em .7em;
		line-height: 1;
		font-size: .9em;
	}
	nav a.active {
		text-decoration: none;
		border-color: var(--black);
		font-weight: 400;
	}
	.social-links,
	.social-links a {
		display: flex;
		color:rgb(var(--gray));
	}
	.hr-column {
		height:16px;
		border:none;
		border-right:1px solid rgb(var(--gray-light));
		margin:0 .4em;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
