---
// import type { HTMLAttributes } from 'astro/types';

// type Props = HTMLAttributes<'a'>;

// const { href, class: className, ...props } = Astro.props;
// const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
// const subpath = pathname.match(/[^\/]+/g);
// const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
import { SITE_NAME,SITE_INFO } from '../consts'
---
<!-- 
<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a> -->
<div class="posts-list flex flex-column box-shadow">
	<a href="">
		123123
	</a>
</div>

<style>
	.posts-list {
		background-color: white;
		border-radius: 13px;
		padding:20px;
		width: 100%;
		flex:1;
		margin-left:1em;
	}
	
</style>
