.markdown-content {
  height:100%;
  overflow-y: auto;
}
.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6
{
  font-weight: 400;
  margin: 0.6em 0;
  line-height: 1;
}
.markdown-content h1 {
  font-size: 2em;
}
.markdown-content h2 {
  font-size: 1.7em;
}
.markdown-content h3 {
  font-size: 1.5em;
}
.markdown-content h4 {
  font-size: 1.3em;
}
.markdown-content h5,
.markdown-content h6 {
  font-size: 1em;
}
.markdown-content em {
  font-style: italic;
}
.markdown-content ul,
.markdown-content ol {
  margin: 1em 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.8;
}
.markdown-content ol {
  counter-reset: ol-counter;
}
.markdown-content ol > li::before {
  text-align: right;
  counter-increment: ol-counter;
  content: counter(ol-counter) '. ';
  white-space: pre;
}
.markdown-content ul:not(.contains-task-list) > li::before {
  content: "• ";
  padding-right: 5px;
}
.markdown-content a {
  color: #faa700;
  text-decoration: none;
}
.markdown-content a:visited {
  color: #faa700;
}

.markdown-content a:hover {
  color: #faa700;
}

.markdown-content a:active {
  color: #faa700;
}

.markdown-content a:focus {
  outline: thin dotted;
}

.markdown-content a:hover {
  text-decoration: underline;
}

.markdown-content ::-moz-selection {
  background: rgb(255, 157, 101);
  color: #000;
}

.markdown-content ::selection {
  background: rgba(255, 157, 101);
  color: #000;
}

.markdown-content pre,
.markdown-content code,
.markdown-content kbd,
.markdown-content samp {
  color: white;
  font-family: monospace, monospace;
  font-size: 1em;
  background-color: #333;
  border-radius: 5px;
  padding:.5em;
  margin:1em 0;
  width: 95%;
  line-height: 1.3;
}
.markdown-content pre code.hljs {
  padding:.25rem;
}
.markdown-content code {
  margin:0;
}
.markdown-content pre ::-webkit-selection{
  background: rgba(255, 157, 101)!important;
  color: #000;
}
.markdown-content pre ::selection{
  background: rgba(255, 157, 101)!important;
  color: #000;
}
.markdown-content code.hljs ::-webkit-selection{
  background: rgba(255, 157, 101)!important;
  color: #000;
}
.markdown-content code.hljs ::-moz-selection{
  background: rgba(255, 157, 101)!important;
  color: #000;
}
.markdown-content code.hljs ::selection{
  background: rgba(255, 157, 101)!important;
  color: #000;
}

.markdown-content blockquote {
  color: #666666;
  margin: 1em 0;
  padding:.7em .7em .7em 1.3em;
  border-left: 0.2em #eee solid;
}
.markdown-content blockquote p {
  margin:0;
}
.markdown-content hr {
  display: block;
  width: 95%;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 1.5em auto;
}
.markdown-content table {
  border-collapse: collapse;
  border-spacing: 0;
  margin:.5rem 0;
  font-size: 1em;
}
.markdown-content table th,
.markdown-content table td {
  border:1px solid #eee;
  padding:.7em;
} 
.markdown-content p {
  margin: 1em 0;
  font-size: 1em;
  line-height: 1.7;
}

/* .markdown-content .hljs-name,
.markdown-content .hljs-quote,
.markdown-content .hljs-selector-tag,
.markdown-content .hljs-selector-pseudo {
  color:#88C3EF;
}
.markdown-content .hljs-regexp, 
.markdown-content .hljs-string, 
.markdown-content .hljs-meta .hljs-string {
  color:#faa700
}
.markdown-content .hljs-attr, 
.markdown-content .hljs-attribute, 
.markdown-content .hljs-literal, 
.markdown-content .hljs-meta, 
.markdown-content .hljs-number, 
.markdown-content .hljs-operator, 
.markdown-content .hljs-variable, 
.markdown-content .hljs-selector-attr, 
.markdown-content .hljs-selector-class, 
.markdown-content .hljs-selector-id {
  color:#F76069;
}
.markdown-content .hljs-section {
  color: #F36799;
}
.markdown-content .hljs-title, 
.markdown-content .hljs-title.class_, 
.markdown-content .hljs-title.class_.inherited__, 
.markdown-content .hljs-title.function_ {
  color:#FFE047;
}
.markdown-content p img {
  display: block;
  max-width: 95%;
}
.markdown-content sub,
.markdown-content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.markdown-content sup {
  top: -0.5em;
}
.markdown-content sub {
  bottom: -0.25em;
} */
